@import './Layout.scss';


.ContainerGroupInfo {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.row1 {
    display: flex;
    justify-content: space-between;
}

.ProfilNote {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.ContainerGroupInfo h1 {
    color: $Red;
    font-size: 300%;
    font-weight: 400;
}

.ContainerGroupInfo h2 {
    font-weight: 600;
}

.DescriptEquip  {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin-top: 20px;
}


.DescriptEquip .MenuDeroulantEtContenu {
    width: 50%;
}

.DescriptEquip li {
    list-style-type: none;
}

.NomEtImage {
    color:$Red;
    display: flex;
    align-items: center;
    gap:5px;
    height: 80px;

}

.NomEtImage div {
    overflow: hidden;
    border-radius: 100000px;
    height: 100%;

}

.NomEtImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.NomEtImage h2 {
    width: 100px;
    text-align: right;
}

.TagContainer {
    display: flex;

    color: white;
    align-items: center;
    flex-wrap: wrap;
    gap:5%;
    row-gap: 10px;
}

.LogementTag {
    display: flex;
    background-color: $Red;
    padding: 2px 20px;
    border-radius: 10000px;
    font-size: 80%;
    height: 20px;
    align-items: center;
}

.TitreTag, .ProfilNote, .TagContainer, .RatingStar {
    margin-top:20px;
}


@media (max-width:650px) {
    .ContainerGroupInfo h1 {
        font-size: 150%;
    }
    .row1 {
        flex-direction: column;
    }
    .ProfilNote {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .NomEtImage {
        height: 40px;
        font-size: 80%;
    }
    .NomEtImage h2 {
        width: 60px;
    }
    .DescriptEquip {
        flex-direction: column;
        gap: 20px;
    }
    .DescriptEquip .MenuDeroulantEtContenu {
        width: 100%;
    }
    .RatingStar {
        margin:0px;
    }
    .RatingStar svg {
        height: 15px;
        width: 15px;
    }
    .LogementTag {
        border-radius: 7px;
    }
}