.ImagePresentationCardContainer {
    overflow:hidden;
    position: relative;
    border-radius: 25px;
    height: 200px;
    background-color: black;
}


.ImagePresentationCard {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    opacity: 0.6;
}

.TitreImagePresentationCard {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 250%;
    text-align: center;
}

@media (max-width:650px) {

    .ImagePresentationCardContainer {
        height: 120px;
        border-radius: 15px;
    }

    .TitreImagePresentationCard  {
        font-size: 150%;
        left: 50%;
        padding-left: 5%;
        width: 100%;
        text-align: left;
    }
}